
.container {
  display: grid;
  grid-template-areas:
    "menu header"
    "menu content"
    "menu footer";
  grid-template-columns: 0.5fr 3fr; 
  gap: 10px; 
  background-color: #fff;
  padding: 10px;
  height: 100vh; 
  box-sizing: border-box; 
  grid-template-rows: 0.1fr 0.6fr 1fr; 

}
.container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #171a1f26;
}
.container > div.header {
  grid-area: header;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  padding: 10px;
}
.container > div.menu {
  grid-area: menu;
  background-color: #f4f4f4;
  padding: 15px;

  
}
.container > div.content {
  grid-area: content;
  background-color: #fff;
  padding: 15px;
  font-size: 16px;
  color: #555;
}
.container > div.footer {
  grid-area: footer;
  text-align: center;
  font-size: 14px;
  background-color: #f4f4f4;
}